/*reset*/

:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/

body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

header .logo{
    
    margin-left: 0.5%;
    color: var(--vermelho);
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 250%;
    /*line-height: normal;*/
    /*background: url("/img/netflix-logo@logotyp.us.svg");*/
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
    cursor:pointer;
    transition: .4s ease all;
}

/*filme principal*/

.filme-principal{
    font-size: 110%;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url("/img/fundoViking.jpg");
    height: 400%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.filme-principal .descricao{
    margin-top: 2%;
    margin-bottom: 4%;
}
.filme-principal .titulo{
    margin-top: 5%;
    font-size: 250%;
    font-weight: bold;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}
.filme-principal .sinopse{
    margin-top: 1%;
    font-size: 120%;
    font-weight: bold;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}
.filme-principal .autor{
    margin-bottom: 1%;
    font-size: 90%;
    font-weight: bold;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}
.filme-principal .criacao{
    margin-bottom: 1%;
    font-size: 85%;
    font-family: 'Source Sans Pro', Arial, sans-serif;

}
.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 1%;
    margin-bottom: 1%;
    font-size: 70%;
    cursor:pointer;
    transition: .3s ease all;
}
.botao:hover{
    background-color: white;
    color: black;
}
.botao i{
    margin-right: -0.1%;
}